
    .nombre-colegio{

      font-family: 'Piedra', cursive;
      

        
    }
.publicacion{
  background-color: rgb(222, 251, 221);
}

.segment-one{
  h3{
    color:#fff;
    letter-spacing: 3px;
    margin:10px 0;
  }
}

.segment-two{
  h2{
    color:#fff;
    text-transform: uppercase;
    
  }
  ul{
    margin:0;
    padding: 0;
    list-style: none;
    li{
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      line-height: 40px;
      a{
        color: #999;
        text-decoration: none;
      }
    }
  }
}
.footer-bottom-text{
  text-align: center;
  background: #000;
  line-height: 75px;
}
.segment-three{
  h2{
    color:#fff;
    text-transform: uppercase;
  }
  a{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    li{
      font-size: 20px;
      color: #fff;
      padding: 10px 12px;
    }
  }

}
.segment-four{
  h2{
    color: #fff;
    text-transform: uppercase;
  }
}
.footer-top{
  background: #111;
  padding: 80px 0;
}
footer{
  p{
    color:#999;
    line-height: 25px;
  }
  h2{
    color: #fff;
    font-size: 18px;
  }
  h3{
    color: #fff;
  }
}
.baguetteBox-button {
  background-color: transparent !important;
}
.tz-gallery {
  img {
    border-radius: 4px;
}
  padding: 40px;
  .lightbox {
    img{
      &:hover{
        transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
      }
    }
    img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}}
}
.gallery-container{
  background-color: #fff;
  color: #35373a;
  min-height: 100vh;
  border-radius: 20px;
  
  .page-description{
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
  }
  h1{
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
  }
}
.bgimage{
  background-image: url("/rainforest.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  display: block;
  filter: blur(2px);
}
.social{
  position: fixed;
  top: 50%;
  left: -120px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  background-color: rgb(6, 202, 32);
  color: white;
  padding: 20px;
  border-radius: 15px;
  padding-left: 100px;
  transition: 1s;
  a{
    color: white;
    &:hover{
      color: rgb(6, 255, 255);
    }
  }
  &:hover{
    transition: 1s;
    left: -90px;
  }
}
#lista_articulos{
  display: none;
}
.card{
  h6{
    color: black;
  }
  h5{
    color: black;
  }
  p{
    color: black;
  
  }
}
body{
    
    background-color: #003A36;
    color: white;

  h1{
    border-top: 3px solid rgb(229, 255, 0);
    border-bottom: 2px solid rgb(229, 255, 0);
  }
  
}
img{
  /* transition: 1.5s;
  &:hover{
    transform: scale(1.1);
    transition: 1.5s;
  } */
}
.imagen{
  position: relative;
  border-radius: 50%;
  img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    
    
  }
  .texto-imagen{
    position: absolute;
    top:50%;
    left: 0;
    right: 0;
    
    z-index: -1;
    margin: auto;
    h4{
      text-align: center;
    }
  }
  .desvanecer{
    &:hover{
      opacity: 0.5;
      transition:   0.5s;
    }
  }
}

.descripcion-post{
  p{
    
    text-align: justify;
  }
}
.titulo-post{
  text-transform: uppercase;
  }
.encabezado-post{
  
  h2{
    text-align: center;
    color: white;
  }
}
#app{
  margin-top: -20px;
  margin-left: -10px;
  margin-right: -10px;
}
#mapid{
  height: 100%;
  width: 100%;
  z-index: 0;
}
header{
  position:fixed;
  z-index: 1000;
  width: 100%;
  padding-top: 20px;
  top: 0;
}
.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}


  @media screen and (min-width:1000px){
    .mitad{
      height:75vh;
    }
  }