.nombre-colegio {
  font-family: 'Piedra', cursive;
}

.publicacion {
  background-color: #defbdd;
}

.segment-one h3 {
  color: #fff;
  letter-spacing: 3px;
  margin: 10px 0;
}

.segment-two h2 {
  color: #fff;
  text-transform: uppercase;
}

.segment-two ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.segment-two ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
}

.segment-two ul li a {
  color: #999;
  text-decoration: none;
}

.footer-bottom-text {
  text-align: center;
  background: #000;
  line-height: 75px;
}

.segment-three h2 {
  color: #fff;
  text-transform: uppercase;
}

.segment-three a {
  background: #494848;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}

.segment-three a li {
  font-size: 20px;
  color: #fff;
  padding: 10px 12px;
}

.segment-four h2 {
  color: #fff;
  text-transform: uppercase;
}

.footer-top {
  background: #111;
  padding: 80px 0;
}

footer p {
  color: #999;
  line-height: 25px;
}

footer h2 {
  color: #fff;
  font-size: 18px;
}

footer h3 {
  color: #fff;
}

.baguetteBox-button {
  background-color: transparent !important;
}

.tz-gallery {
  padding: 40px;
}

.tz-gallery img {
  border-radius: 4px;
}

.tz-gallery .lightbox img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 30px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.gallery-container {
  background-color: #fff;
  color: #35373a;
  min-height: 100vh;
  border-radius: 20px;
}

.gallery-container .page-description {
  text-align: center;
  max-width: 800px;
  margin: 25px auto;
  color: #888;
  font-size: 18px;
}

.gallery-container h1 {
  text-align: center;
  margin-top: 70px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

.bgimage {
  background-image: url("/rainforest.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  display: block;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.social {
  position: fixed;
  top: 50%;
  left: -120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30px;
  background-color: #06ca20;
  color: white;
  padding: 20px;
  border-radius: 15px;
  padding-left: 100px;
  -webkit-transition: 1s;
  transition: 1s;
}

.social a {
  color: white;
}

.social a:hover {
  color: #06ffff;
}

.social:hover {
  -webkit-transition: 1s;
  transition: 1s;
  left: -90px;
}

#lista_articulos {
  display: none;
}

.card h6 {
  color: black;
}

.card h5 {
  color: black;
}

.card p {
  color: black;
}

body {
  background-color: #003A36;
  color: white;
}

body h1 {
  border-top: 3px solid #e5ff00;
  border-bottom: 2px solid #e5ff00;
}

img {
  /* transition: 1.5s;
  &:hover{
    transform: scale(1.1);
    transition: 1.5s;
  } */
}

.imagen {
  position: relative;
  border-radius: 50%;
}

.imagen img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.imagen .texto-imagen {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
  margin: auto;
}

.imagen .texto-imagen h4 {
  text-align: center;
}

.imagen .desvanecer:hover {
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.descripcion-post p {
  text-align: justify;
}

.titulo-post {
  text-transform: uppercase;
}

.encabezado-post h2 {
  text-align: center;
  color: white;
}

#app {
  margin-top: -20px;
  margin-left: -10px;
  margin-right: -10px;
}

#mapid {
  height: 100%;
  width: 100%;
  z-index: 0;
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding-top: 20px;
  top: 0;
}

.headroom {
  will-change: transform;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.headroom--pinned {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media screen and (min-width: 1000px) {
  .mitad {
    height: 75vh;
  }
}
/*# sourceMappingURL=estilos.css.map */